@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
* {
    font-family: 'Castoro', serif;
}
header {
    
    font-size:17px
}
b{
    font-size:25px
}
.Lg1p {
    color: #2F4F4F;
    font-size: 20px;
}
.Lg2p {
    color: #2F4F4F;
    font-size: 20px;
}
.Lg3p {
    color: #2F4F4F;
    font-size: 20px;
    
}
.Lg4p {
    color: #2F4F4F;
    font-size: 20px;
}
.Lg5p {
    color: #2F4F4F;
    font-size: 20px;
}
.name {
    margin-left: 115px;
    width: 200px;
    height: 28px;
    border: 1px solid black;
    margin-bottom: 4px;
}
.prenom {
    margin-left: 90px;
    width: 200px;
    height: 28px;
    border: 1px solid black;
    margin-bottom: 4px;
}
.date {
    width: 200px;
    height: 28px;
}
.adresse {
    margin-left: 90px;
    width: 200px;
    height: 28px;
}
.pays{
    margin-left: 120px;
    width: 200px;
    height: 28px;
}
.number {
    width: 200px;
    height: 28px;
}
.email {
    margin-left: 115px;
    width: 200px;
    height: 28px;
}